.App {
  background-color: #282c34;
  text-align: center;
  color: white;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

#area {
  font-weight: bold;
}

#input,
#output {
  width: 500px;
  height: 500px;
}
